 /*
=== OnClick WUD ===
 * Using et-line Font
 * Contributors: wistudatbe
 * Author: Danny WUD
 */
 @font-face{font-family:icon-wud;
src:url(../fonts/icon-wud.eot);
src:url(../fonts/icon-wud.eot?#iefix) format('embedded-opentype'),url(../fonts/icon-wud.woff) format('woff'),url(../fonts/icon-wud.ttf) format('truetype'),url(../fonts/icon-wud.svg#icon-wud) format('svg');
font-weight:400;font-style:normal}
.wud_adjustments,
.wud_alarmclock,
.wud_anchor,
.wud_aperture,
.wud_attachment,
.wud_bargraph,
.wud_basket,
.wud_beaker,
.wud_bike,
.wud_book-open,
.wud_briefcase,
.wud_browser,
.wud_calendar,
.wud_camera,
.wud_caution,
.wud_chat,
.wud_circle_compass,
.wud_clipboard,
.wud_clock,
.wud_cloud,
.wud_compass,
.wud_desktop,
.wud_dial,
.wud_document,
.wud_documents,
.wud_download,
.wud_dribbble,
.wud_edit,
.wud_envelope,
.wud_expand,
.wud_facebook,
.wud_flag,
.wud_focus,
.wud_gears,
.wud_genius,
.wud_gift,
.wud_global,
.wud_globe,
.wud_googleplus,
.wud_grid,
.wud_happy,
.wud_hazardous,
.wud_heart,
.wud_hotairballoon,
.wud_hourglass,
.wud_key,
.wud_laptop,
.wud_layers,
.wud_lifesaver,
.wud_lightbulb,
.wud_linegraph,
.wud_linkedin,
.wud_lock,
.wud_magnifying_glass,
.wud_map,
.wud_map_pin,
.wud_megaphone,
.wud_mic,
.wud_mobile,
.wud_newspaper,
.wud_notebook,
.wud_paintbrush,
.wud_paperclip,
.wud_pencil,
.wud_phone,
.wud_picture,
.wud_pictures,
.wud_piechart,
.wud_presentation,
.wud_pricetags,
.wud_printer,
.wud_profile_female,
.wud_profile_male,
.wud_puzzle,
.wud_quote,
.wud_recycle,
.wud_refresh,
.wud_ribbon,
.wud_rss,
.wud_sad,
.wud_scissors,
.wud_scope,
.wud_search,
.wud_shield,
.wud_speedometer,
.wud_strategy,
.wud_streetsign,
.wud_tablet,
.wud_target,
.wud_telescope,
.wud_toolbox,
.wud_tools,
.wud_tools_2,
.wud_trophy,
.wud_tumblr,
.wud_twitter,
.wud_upload,
.wud_video,
.wud_wallet,
.wud_wine{font-family:icon-wud;
speak:none;font-style:normal;
font-weight:400;font-variant:normal;
text-transform:none;line-height:1;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
display:inline-block}
.wud_mobile:before{content:"\e000"}
.wud_laptop:before{content:"\e001"}
.wud_desktop:before{content:"\e002"}
.wud_tablet:before{content:"\e003"}
.wud_phone:before{content:"\e004"}
.wud_document:before{content:"\e005"}
.wud_documents:before{content:"\e006"}
.wud_search:before{content:"\e007"}
.wud_clipboard:before{content:"\e008"}
.wud_newspaper:before{content:"\e009"}
.wud_notebook:before{content:"\e00a"}
.wud_book_open:before{content:"\e00b"}
.wud_browser:before{content:"\e00c"}
.wud_calendar:before{content:"\e00d"}
.wud_presentation:before{content:"\e00e"}
.wud_picture:before{content:"\e00f"}
.wud_pictures:before{content:"\e010"}
.wud_video:before{content:"\e011"}
.wud_camera:before{content:"\e012"}
.wud_printer:before{content:"\e013"}
.wud_toolbox:before{content:"\e014"}
.wud_briefcase:before{content:"\e015"}
.wud_wallet:before{content:"\e016"}
.wud_gift:before{content:"\e017"}
.wud_bargraph:before{content:"\e018"}
.wud_grid:before{content:"\e019"}
.wud_expand:before{content:"\e01a"}
.wud_focus:before{content:"\e01b"}
.wud_edit:before{content:"\e01c"}
.wud_adjustments:before{content:"\e01d"}
.wud_ribbon:before{content:"\e01e"}
.wud_hourglass:before{content:"\e01f"}
.wud_lock:before{content:"\e020"}
.wud_megaphone:before{content:"\e021"}
.wud_shield:before{content:"\e022"}
.wud_trophy:before{content:"\e023"}
.wud_flag:before{content:"\e024"}
.wud_map:before{content:"\e025"}
.wud_puzzle:before{content:"\e026"}
.wud_basket:before{content:"\e027"}
.wud_envelope:before{content:"\e028"}
.wud_streetsign:before{content:"\e029"}
.wud_telescope:before{content:"\e02a"}
.wud_gears:before{content:"\e02b"}
.wud_key:before{content:"\e02c"}
.wud_paperclip:before{content:"\e02d"}
.wud_attachment:before{content:"\e02e"}
.wud_pricetags:before{content:"\e02f"}
.wud_lightbulb:before{content:"\e030"}
.wud_layers:before{content:"\e031"}
.wud_pencil:before{content:"\e032"}
.wud_tools:before{content:"\e033"}
.wud_tools_2:before{content:"\e034"}
.wud_scissors:before{content:"\e035"}
.wud_paintbrush:before{content:"\e036"}
.wud_magnifying_glass:before{content:"\e037"}
.wud_circle_compass:before{content:"\e038"}
.wud_linegraph:before{content:"\e039"}
.wud_mic:before{content:"\e03a"}
.wud_strategy:before{content:"\e03b"}
.wud_beaker:before{content:"\e03c"}
.wud_caution:before{content:"\e03d"}
.wud_recycle:before{content:"\e03e"}
.wud_anchor:before{content:"\e03f"}
.wud_profile_male:before{content:"\e040"}
.wud_profile_female:before{content:"\e041"}
.wud_bike:before{content:"\e042"}
.wud_wine:before{content:"\e043"}
.wud_hotairballoon:before{content:"\e044"}
.wud_globe:before{content:"\e045"}
.wud_genius:before{content:"\e046"}
.wud_map_pin:before{content:"\e047"}
.wud_dial:before{content:"\e048"}
.wud_chat:before{content:"\e049"}
.wud_heart:before{content:"\e04a"}
.wud_cloud:before{content:"\e04b"}
.wud_upload:before{content:"\e04c"}
.wud_download:before{content:"\e04d"}
.wud_target:before{content:"\e04e"}
.wud_hazardous:before{content:"\e04f"}
.wud_piechart:before{content:"\e050"}
.wud_speedometer:before{content:"\e051"}
.wud_global:before{content:"\e052"}
.wud_compass:before{content:"\e053"}
.wud_lifesaver:before{content:"\e054"}
.wud_clock:before{content:"\e055"}
.wud_aperture:before{content:"\e056"}
.wud_quote:before{content:"\e057"}
.wud_scope:before{content:"\e058"}
.wud_alarmclock:before{content:"\e059"}
.wud_refresh:before{content:"\e05a"}
.wud_happy:before{content:"\e05b"}
.wud_sad:before{content:"\e05c"}
.wud_facebook:before{content:"\e05d"}
.wud_twitter:before{content:"\e05e"}
.wud_googleplus:before{content:"\e05f"}
.wud_rss:before{content:"\e060"}
.wud_tumblr:before{content:"\e061"}
.wud_linkedin:before{content:"\e062"}
.wud_dribbble:before{content:"\e063"}